@model FootballStatistics.Web.ViewModels.ViewModels.Stadium.StadiumDetailsViewModel

@{
    ViewData["Title"] = "Delete Stadium";
}

<h2 class="text-center text-danger">Delete Stadium</h2>

<h4 class="text-center text-light">
    Are you sure you want to delete @Model.Name?
</h4>

<div class="text-center mt-3">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>