@{
    ViewData["Title"] = "Home Page";
}

<<div class="text-center">
    <h1 class="display-4">Welcome to our site for football fans!</h1>
    <h2 class="display-4">We hope you enjoy it!</h2>

    <div class="d-flex justify-content-center gap-4 flex-wrap mt-4">
        <img src="~/images/footballLiverpool.jpg"
             alt="Football Stadium"
             class="img-fluid rounded shadow"
             style="max-width: 300px;" />

        <img src="~/images/football.jpg"
             alt="Football Stadium"
             class="img-fluid rounded shadow"
             style="max-width: 300px;" />

        <img src="~/images/football2.jpg"
             alt="Football Stadium"
             class="img-fluid rounded shadow"
             style="max-width: 300px;" />
    </div>
    <h3 class="display-4">Sign In to create your own Leagues and Teams!</h3>

</div>