
<div class="container mt-4">
    <h2 class="text-center mb-4">Admin Dashboard</h2>
    <hr />
    <div class="row g-3 justify-content-center">
        <div class="col-md-4">
            <a asp-area="" asp-controller="Leagues" asp-action="Index" class="btn btn-success w-100 py-3">
                Manage Leagues
            </a>
        </div>

        <div class="col-md-4">
            <a asp-area="" asp-controller="Teams" asp-action="Index" class="btn btn-success w-100 py-3">
                Manage Teams
            </a>
        </div>

        <div class="col-md-4">
            <a asp-area="" asp-controller="Players" asp-action="Index" class="btn btn-success w-100 py-3">
                Manage Players
            </a>
        </div>

        <div class="col-md-4">
            <a asp-area="" asp-controller="Stadiums" asp-action="Index" class="btn btn-success w-100 py-3">
                Manage Stadiums
            </a>
        </div>

        <div class="col-md-4">
            <a asp-area="" asp-controller="Matches" asp-action="Index" class="btn btn-success w-100 py-3">
                Manage Matches
            </a>
        </div>
    </div>
</div>