
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="list-group">
    <a asp-area="" asp-controller="Leagues" asp-action="Index" class="list-group-item list-group-item-action">
        Manage Leagues
    </a>
    <a asp-area="" asp-controller="Teams" asp-action="Index" class="list-group-item list-group-item-action">
        Manage Teams
    </a>
    <a asp-area="" asp-controller="Players" asp-action="Index" class="list-group-item list-group-item-action">
        Manage Players
    </a>
    <a asp-area="" asp-controller="Stadiums" asp-action="Index" class="list-group-item list-group-item-action">
        Manage Stadiums
    </a>
    <a asp-area="" asp-controller="Matches" asp-action="Index" class="list-group-item list-group-item-action">
        Manage Matches
    </a>
</div>